@font-face {
    font-family: 'Hand';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/handbookpro.woff') format('woff'), url('../fonts/handbookpro.ttf') format('truetype'), url('../fonts/handbookpro.eot') format('embedded-opentype');
    src: url('../fonts/thin.ttf') format('truetype');
}



body{
	font-family: 'Hand', sans-serif;
}
#maincontainer{
	margin:auto;
}
.container{
	width:1132px;
	margin:auto;
}
#header{
	height:137px;
}
#logo{
	float:left;
	margin:14px 0 0 0;
	cursor:pointer;
}
#menu{
	float:right;
	list-style: none;
	margin:108px 0 0 0;
}
#menu>li{
	font-size: 18px;
	float:left;
	font-weight: 600;
	margin:0 0 0 18px;
	cursor:pointer;
}
#menu>li:hover{
	color:#2daae1;
}

/*_____________________________________SLIDER*/

#slidercontainer{
	position:relative;
	height:649px;
}

/*____________________________sliderdesc*/
#sliderdesc{
	position:absolute;
	bottom:0;
	height:182px;
	width:100%;
	overflow: hidden;
	z-index: 99999999999999999999999;
}
#sliderdesc .item{
	color:#fff;
	font-size: 20px;
	font-weight: 100;
	width:1020px;

	bottom:6px;
	padding:24px 110px;
	line-height: 28px;
}
#sliderdesc .item p{
	font-style:italic;
	font-weight: 100;
}
#backdesc{
	position:absolute;
	bottom:0;
	height:182px;
	width:100%;
	z-index:999;
	background-color: rgba(0,0,0,.8);
}

#slider>.owl-controls>.owl-dots{
	position:absolute;
	top:340px;
	left:594px;
}
#slider>.owl-controls>.owl-dots>.owl-dot.active{
	background-color: #78c7ee;
	border:0;
	width:21px;
	height:21px;
}
#slider>.owl-controls>.owl-dots>.owl-dot{
	width:17px;
	float:left;
	height:17px;
	margin:0 7px 0 0;
	border-radius: 50%;
	border:2px solid #fff;
}
/*____________________________/sliderdesc*/
/*_____________________________________SLIDER*/

/*_______________________________________MISSION*/

#mission>h1{
	text-align: center;
	margin:32px 0 0 0;
	font-size: 35px;
	font-weight: 600;
}
#mission>hr{
	width:110px;
	border:1px solid #555;
}
#mission>h3{
	margin:25px 0 0 0;
	text-align: center;
	font-size: 19px;
	font-weight: 100;
}

/*_____________________________alum*/

#photoalbum{
	margin:23px auto 0;
	height:622px;
	width:1132px;
}
#photoalbum>div{
	overflow: hidden;
	height:311px;
	float:left;
	width:566px;

	color:#fff;
	font-weight: 100;
}

#photoalbum>div:nth-child(2){
	background-color: #ff8f22;
	text-align: center;
}
#photoalbum>div:nth-child(3){
	background-color: #78c7ee;
	text-align: center;
}
#photoalbum>div:nth-child(2)>h1{
	font-size: 35px;
	margin:45px 0 0 0;
	font-weight: 600;
}
#photoalbum>div:nth-child(2)>p{
	padding:0 75px;
	line-height: 18px;
	font-size: 17px;
}
#photoalbum>div:nth-child(3)>h1{
	font-size: 35px;
	margin:45px 0 0 0;
	font-weight: 600;
}
#photoalbum>div:nth-child(3)>p{
	padding:0 75px;
	line-height: 18px;
	font-size: 17px;
}
.button{
	margin:23px 0 0 0;
}
.button>a>hr{
	width:110px;
	border:1px solid #fff;
}
.button>a>h2{
	margin:0;
	padding:5px 0;
	font-size: 17px;
}
.button>a{
	text-decoration: none;
	color:#fff;
}
/*_____________________________alum*/
/*_______________________________________/MISSION*/